
.center-element {
	text-align: center;
	padding: 10px;
}

.content-page {
	margin-top: 5%;
}

  
.product {
	padding: 15px;
	margin: 10px;
	border-radius: 8px;
    color: rgb(0, 0, 89);
    opacity: 0.4px;
}

.product:hover {
	text-decoration: none;
	border-color: black;
	background-color: rgb(0, 0, 89);
	color: white;
}

.table-header {
	margin: 10px;
	padding: 10px;
	font-weight: 800;
}

.btn {
	background-color: rgb(0, 0, 89);

}

.btn:hover {
	color: rgb(0, 0, 89);
	background-color: white;
}

.main-nav {
	padding-left: 30px;
}