<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns:sec="http://www.w3.org./1999/xhtml">
<head th:replace="fragments/header :: common-header" />
<body>

  <div th:replace="adminHome :: navbarAdmin"> </div>

  <div class="container page-content">
    <table id="table-article" class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th >Title</th>
        <th class=col-sm-2> </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="brd : ${brands}">
        <td th:text="${brd.name}"></td>
       
        	<td><a th:href="@{'/brand/edit/'+${brd.id}}" class="badge badge-primary">EDIT</a>  
            <a th:href="@{'/brand/delete/'+${brd.id}}" class="badge badge-danger">DELETE </a> </td>
      </tr>
    </tbody>
  </table>
  </div>



  <div th:replace="fragments/header :: body-scripts"> </div>
  
  <script>
  	$(document).ready(function() {
	    $('#table-article').DataTable({
	    	stateSave: true
	    });
	} );
  </script> 

</body>
</html>