<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BAO Teknoloji</title>
    <link th:rel="stylesheet" href="/css/main.css "/>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<div th:replace="fragments/navbar"></div>

<body >

<div class="container  main-page ">
   
       <h1 class="center-element">All Products</h1>
     <div th:if="${not #lists.isEmpty(products)}" class="row table-header">
     	<span class="col-sm-2"> Code </span>
     	 <span class="col-sm-4"> Name </span>
     	<span class="col-sm-2"> Price  </span>
     	<span class="col-sm-2"> Stock </span>
     	<span class+"col-sm-2">Box</span>

     </div>  
     <div>
     <a th:each="product: ${products}" th:href="@{/product/edit/{id}(id=${product.id})}" class="border border-light row product">
    	    <span class="col-sm-2" th:text="${product.code}"></span>
    		<span class="col-sm-4" th:text="${product.name}"> </span>
    		 <span class="col-sm-2" th:text="${ '$ ' + product.price}"> </span>
    		 <span class="col-sm-2" th:text="${product.count}"> </span>
    		 <span class="col-sm-2" th:text="${product.boxCode}"></span>
    </a>
     </div>


</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>
<script>

</script>